[submodule "AVR_earlystop/early-stopping-pytorch"]
	path = AVR_earlystop/early-stopping-pytorch
	url = https://github.com/Bjarten/early-stopping-pytorch.git
[submodule "AVR_earlystop/earlyStopping"]
	path = AVR_earlystop/earlyStopping
	url = https://github.com/Bjarten/early-stopping-pytorch.git
